$font-p:'Roboto', sans-serif;
$font-title:'Hubballi', cursive;
$color-white: #fff;
$color-black: #000;
$color-blue: #0074FD;
$bg-color:linear-gradient(179.66deg, #0074FD 0.3%, rgba(0, 117, 255, 0) 172.25%)

